@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;500;600;700&display=swap");

:root{
  --darkblue: #14325f;
  --lightblue: #149ff0;
  --lighterblue: #61d2ff;
  --bluesky: #b5e1fa;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body::after{
   content: "";
   background:white url('../icon/background.jpg') center center no-repeat;
   background-size: cover;
   opacity: 0.1;
   top: -100px;
   left: 0;
   bottom: 0;
   right: 0;
   position: absolute;
   z-index: -10;
}

#container{
  width: 85vw;
  height: 620px;
  margin: 40px auto;
  position: relative;
  border: 1px solid rgb(0,0,0,0);
}

#containerEdit{
  width: 70%;
  height: 80%;
  background: linear-gradient(-20deg, var(--lightblue), var(--lighterblue));
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 20px;
  color: white;
}

#containerEdit header{
  padding-top: 20px;
  width: 100%;
  height: 20%;
}

#biodata{
  width: 100%;
  height: 80%;
}

#biodata p{
  position: relative;
}

#namaData{
  padding: 40px 10px;
  height: 100%;
  width: 20%;
}

#namaData{
  padding: 40px 10px;
  height: 100%;
  width: 20%;
  float: left;
}

#titikDua{
  padding: 40px 10px;
  height: 100%;
  width: 5%;
  float: left;
  font-weight: bold;
}

#informasiData{
  padding: 40px 10px;
  height: 100%;
  width: 75%;
  float: left;
}

#biodata p a{
  position: absolute;
  right: 20px;
  color: white;
  opacity: 0.7;
}

button{
  width: 150px;
  height: 50px;
  border-radius: 10px;
  border: none;
  color: white;
  background: var(--darkblue);
}

button:hover{
  box-shadow: 2px 2px 6px -3px rgba(0,0,0,0.63);
}

button:active{
  position: relative;
  top: 2px;
}

.cancel{
  background: white;
  color: var(--darkblue);
}

#buttons{
  position: absolute;
  bottom: 40px;
  right: 40px;
}

footer{
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
  color: var(--lightblue);
  font-size: 24px;
}

.icon{
  position: absolute;
  bottom: 0;
}
