@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;500;600;700&display=swap");

:root{
  --darkblue: #14325f;
  --lightblue: #149ff0;
  --lighterblue: #61d2ff;
  --bluesky: #b5e1fa;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body::after{
   content: "";
   background:white url('../icon/background.jpg') center center no-repeat;
   background-size: cover;
   opacity: 0.1;
   top: -100px;
   left: 0;
   bottom: 0;
   right: 0;
   position: absolute;
   z-index: -1;
}

#container{
  width: 85vw;
  height: 620px;
  margin: 40px auto;
}

.KKL {
  color: var(--lighterblue);
  text-align: right;
  font-size: 24px;
  font-weight: bold;
  line-height: 60px;
  float: right;
  height: 100%;
  position: relative;
}

a{
  text-decoration: none;
  color: var(--lighterblue);
}

.KKL span{
  display: block;
  margin-top: 0;
}

.daftarContainer {
  width: 700px;
  background: linear-gradient(340deg, var(--lightblue), var(--lighterblue));
  color: white;
  border-radius: 20px;
  height: 100%;
  padding: 25px;
  position: relative;
}

.murid{
  color: white;
  padding: 2px;
  font-size: 20px;
  border-radius: 10px;
  background-color: var(--darkblue);
  height: 50px;
  width: 200px;
  text-align: center;
  line-height: 50px;
  position: absolute;
  top: -15px;
  right: 40px;
}

.Daftar {
  text-align: left;
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 40px;
  padding-left: 20px;
}

.apartForm{
  width: 48%;
  height: 100%;
}

.apartForm.left{
  float: left;
  padding-left: 20px;
}

.apartForm.right{
  float: right;
  padding-right: 20px;
}

.titleForm{
  color: white;
  font-size: 18px;
  display: block;
}

input, select{
  border-radius: 10px;
  border: none;
  height: 50px;
  width: 100%;
  margin: 15px 0;
  padding: 10px;
  font-size: 16px;
}

#buttons{
  margin-top: 45px;
  width: 100%;
}

.tombol{
  font-size: 18px;
  float: left;
  height: 50px;
  width: 50%;
  text-align: center;
}

.tombol button{
  background: var(--darkblue);
  color: white;
  height: 100%;
  width: 90%;
  text-align: center;
  line-height: 50px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
}

#batal{
  background: white;
  width: 90%;
  height: 100%;
  text-align: center;
  line-height: 50px;
  border-radius: 10px;
  margin: 0 auto;
}

button:hover, #batal:hover{
  cursor: pointer;
  box-shadow: 2px 2px 6px -1px rgba(0,0,0,0.63);
}

button:active, #batal:active{
  position: relative;
  top: 3px;
}

.icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 250px;
  height: 250px;
}

.icon .segitiga {
  position: absolute;
  bottom: 32px;
  right: 0;
  transform: rotate(180deg);
}
.icon .bulet {
  position: absolute;
  bottom: -21px;
  right: 0;
}
